APScheduler==3.6.3
cachetools==4.2.2
certifi==2022.6.15
charset-normalizer==2.1.0
commonmark==0.9.1
idna==3.3
pip==21.1.2
Pygments==2.12.0
python-dotenv==0.20.0
python-telegram-bot==13.13
pytz-deprecation-shim==0.1.0.post0
pytz==2022.1
requests==2.28.1
rich==12.5.1
setuptools==57.0.0
six==1.16.0
tether-price==0.0.3
tornado==6.2
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.10
wheel==0.36.2
